body{
	background: url(../images/star-wars-bckgrd.jpg) center center fixed;
	background-color: transparent;
	font-family: 'Kaushan Script', cursive;
   
}
* {
	box-sizing: border-box;
}
img { 
    height: 150px;
    width: 150px;
}
p {
	color: red;
	font-size: 16px;
}
.btn {
    margin: 10px;
	opacity: .8;
	background-color: black;
	border-color: red;
}
label {
	color: red;
	font-size: 25px;
	margin-right: 10px;
}
.gifDiv{
    float: left;
    margin: 3px;
}
.container {
	background-color: transparent;
	padding: 20px;
}
.jumbotron {
	background-color: transparent;
	color: red;
}
.jumbotron .h1, .jumbotron h1 {
	text-align: center;
	background-color: transparent;
	color: red;
}
audio {
	display: none;
}
#copyright{
	font-size: 14px;
	background-color: transparent;
}
div#footer {
	background-color: transparent;
	color: red;
	clear: both;
	margin-top: 40px;
	position: center;
	bottom: 0;
	left: 0;
	text-align: center;
}